*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
}
body
{
    background-color: bisque;
}
h1
{
    padding: 15px;
    border: 10px;
    border-style: dashed;
    border-color: red;
    color: fuchsia;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
p
{
    color: blueviolet;
    text-align: justify;
    border-radius: 8px;
    border-style: solid;
    padding: 10px;
}
img
{
    width: 35%;
}